In [1]:
org_path = '/data/notebook/chris.kr'

import os
import sys
import datetime
sys.path.append(org_path)

import pandas as pd
from tqdm import tqdm
from utils.dbutils_py3 import kakao_trino, piccoma_db

from query import *

/usr/local/lib/python3.6/site-packages/pymysql/_auth.py:11: CryptographyDeprecationWarning: Python 3.6 is no longer supported by the Python core team. Therefore, support for it is deprecated in cryptography and will be removed in a future release.
  from cryptography.hazmat.backends import default_backend

In [2]:
qname = "PICCOMA_PIVOT"
start_date = '20210101'
end_date = '20220732'
sampling = 10

In [4]:
%%time

query = locals()[qname].format(
    start_date = start_date,
    end_date = end_date,
    sampling = sampling)
df = kakao_trino.excute_query(query)

CPU times: user 2.35 s, sys: 122 ms, total: 2.47 s
Wall time: 6min 47s

In [16]:
df.shape

(43616, 8)

In [15]:
df.head()

   log_date svc_nm category    genre   read    vimp  read_16  vimp_16
0  20210101   뷰어엔드       노벨  공포 미스터리      2     281        1       67
1  20210101   뷰어엔드       노벨      드라마     17    1831        3      433
2  20210101   뷰어엔드       노벨       연애   8013  201313     1812    41913
3  20210101   뷰어엔드       노벨      판타지   1021   78771      235    13260
4  20210101   뷰어엔드    만화 출판  공포 미스터리  16810  431160     3320    87052

In [18]:
df.tail()

       log_date svc_nm category genre  read    vimp  read_16  vimp_16
43611  20220731    홈추천    스마트 툰    연애  5177  124035     1112    18584
43612  20220731    홈추천    스마트 툰    음식     7     146        0       19
43613  20220731    홈추천    스마트 툰   판타지  3605  102914      586    13763
43614  20220731    홈추천      오디오   오디오     3     243        0       36
43615  20220731    홈추천       잡지    잡지   175    2995       10      467

In [14]:
fname = (f"data/{qname}.pkl")
df.to_pickle(fname)